extends ../includes/scaffold

block title
  title Project Details
block head
  style
    include ../dashboard/dashboard.css
    include ./details.css

block innerContent
  div(class="flex heading")
    h2 #{project.name} 
    .grow-1
      a(href=`/oauthclient?projectId=${project._id}` class="primary-button") Add Client
  div
    each client, index in clients
      a(href=`/oauthclient/${client._id}`)
        div(style="border: 1px solid blue; margin-top: 5px; padding: 10px")
          strong #{index + 1}
          p
            strong Name:  
            |#{client.name}
          p
            strong Client ID: 
            |#{client.clientId}
